.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
engine/**
scripts/**
.github/**
dist-vsix/**
run.sh
FEEDBACK.md
PUBLISHING.md
*.vsix
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.mcp-memory.db
.mcp-memory.db
**/.mcp-envs.json
